 <%- contentFor("main") %>
<link rel="stylesheet" href="/cpanel.css" type="text/css" />
<style id='custyle'></style>
        <title>dodgeball</title>
        <span class='msg'></span>
        <div class='content'>
        	<div class="field"></div>
        	<div class='outerlist1'>
        		<div class='outerlist2'>
				</div>
        	</div>
        	<div class='outerCSS'>
        		<span class='cstop'>send css to all connected clients</span>
        		<textarea class='css'></textarea>
        	</div>
        </div>


		<script src="/cpanel.js"></script>


