<html>
    <head>
        <link rel="stylesheet" href="/styles.css" type="text/css" />
        <script src="/hLib.js"></script>
        <!-- i had to remove socketio b/c reasons.  <script src="/socket.io/socket.io.js"></script>  -->
    </head>
    <body>

<%- defineContent("main") %>
<div class="footer">
    Made by Hugh Kelley;  If you can see this, you're ugly.
</div>
    </body>
</html>
